<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiInvaders</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    
    <div class="wrap">
        <header>
            M U L T I - I N V A D E R S
            <audio id="gameMusic" src="~/sounds/bgmusic.ogg" preload="auto"></audio>
            <button class="music-btn" onclick="togglePlay()" style="float: right">Toggle Music</button>
        </header>
        
        <div class="game-wrapper">
            <div class="game"></div>
            <div class="game-win">
                <h1>YOU GUYS DID IT!</h1>
                <h2>You are the best MultiInvaders</h2>
                <button class="btn" onclick="window.location.reload()">Start New Game</button>
            </div>
            <div class="game-over">
                <h1>GAME OVER!</h1>
                <h2>Better luck next time :(</h2>
                <button class="btn" onclick="window.location.reload()">Start New Game</button>
            </div>
        </div>
        <footer>TOTAL LIVES: <span id="lives"></span></footer>
    </div>
    <script src="~/js/site.js"></script>
    <script>document.getElementById("lives").innerHTML = life-1</script>
</body>

</html>